

.story-section .content-with-image .content-text h2.section-title {
    text-align: left; 
    margin-bottom: 0.5em;
}
.story-section .content-with-image .content-text h2.section-title::after {
    display: none; 
}

.story-section .content-with-image .content-text h3 { 
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 1.8rem;
    margin-bottom: 0.5em;
}

